.nav-button {
    background-color: #E8E8E8;
    min-height: 1.5rem;
    min-width: 5rem;
    margin-left: 2rem;
    border-radius: 0.2rem;
    box-shadow: 10px 10px linear-gradient(to right #E8E8E8, #F0F0F0 100%, #FFFF 100%);
}
